@model Object[]
@{
    ViewBag.Title = "JobDetails";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";

    var job = (JobSeekerWeb.Models.job)Model[0];
    var hirer = (JobSeekerWeb.Models.HirerViewModel)Model[1];
    List<string> samepleFiles = (List<string>)Model[2];
    List<string> samepleImages = (List<string>)Model[3];

    int id = Convert.ToInt32(JobSeekerWeb.CustomUtils.CustomSession.GetSession().get("id"));
    
}

<main>
    <div class="product-details">
        <h1 class="special--container">@job.category</h1>
        <section class="product__title-section special--container flex">
            <h2>@job.name.</h2>
            <div class="taka flex">
                <div class="taka-logo flex">
                    <img src="~/images/taka-bw.svg" alt="taka">
                </div>
                <div class="taka-amount">@job.salary</div>
            </div>
        </section>
        <section class="job-info-section flex">
            <div class="job-info__details special--container">
                <div class="job-details flex">
                    <h3>Deadline</h3>
                    <h3>@job.duration</h3>
                </div>
                <div class="job-details flex">
                    <h3>Revisions</h3>
                    <h3>4</h3>
                </div>
                <div class="job-details flex">
                    <h3>Negotiable</h3>
                    <h3>
                        @( job.negotiable == 1 ? "yes" : "no" )
                    </h3>
                </div>
                <!-- <div class="job-details flex">
                    <h3>Preferred skills</h3>
                    <h3><?php echo $preferred_skills ?></h3>
                </div> -->
            </div>
            <div class="job-info__hirer flex">
                <div class="hirer-card">
                    <div class="hirer__pic-name flex">
                        <div class="hirer__pic">
                            @{
                                if (hirer.picture == null)
                                {
                                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="..." class="avatar-img rounded-circle" />
                                }
                                else if (!hirer.picture.Contains("https://"))
                                {
                                    <img src="~/DatabaseImg/@hirer.picture" alt="..." class="avatar-img rounded-circle" />
                                }
                                else if (hirer.picture.Contains("https://"))
                                {
                                    <img src="@hirer.picture" alt="..." class="avatar-img rounded-circle" />
                                }
                            }
                        </div>
                        <div class="hirer__name">
                            <h3>@hirer.name</h3>
                            <h4>Hirer</h4>
                        </div>
                    </div>
                    <div class="hirer__info flex">
                        <div class="job-info earned">
                            <h2>Spent</h2>
                            <h3>@hirer.spent</h3>
                            <h4>TAKA</h4>
                        </div>
                        <div class="info-divider"></div>
                        <div class="job-info completed">
                            <h2>Hired</h2>
                            <h3>@hirer.hired</h3>
                            <h4>Freelancers</h4>
                        </div>
                        <div class="info-divider"></div>
                        <div class="job-info rated">
                            <h2>Rated</h2>
                            <h3>@hirer.rating</h3>
                            <h4>STARS</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="description-section special--container">
            <h2>Description</h2>
            <p>@job.details</p>
        </section>
        <section class="sample-files-section">
            <div class="special--container">
                <h2>Sample Images & Files </h2>
                <h3>Images</h3>
                @{

                    if (samepleFiles.Count != 0)
                    {
                        Html.RenderPartial("SampleImage", samepleImages);
                    }
                    else
                    {
                        <h4>There are no sample images for this job.</h4>
                    }
                }
                <h3>Files</h3>
                @{
                    if (samepleFiles.Count != 0)
                    {
                        <div class="files flex">
                            @{
                                foreach (string file in samepleFiles)
                                {
                                    <a class="download-file-btn flex" href="~/JobFiles/@file" target="_blank" style="color: inherit; text-decoration: none">
                                        <span>File</span>
                                        <i class="fas fa-download"></i>
                                    </a>
                                }

                            }
                        </div>
                    }
                    else
                    {
                        <h4> There are no sample files for this job.</h4>
                    }
                }
            </div>
        </section>
        <section class="apply-section">
            <div class="special--container">
                <h2>Hurry Up!</h2>
                <p>Only few applications left for this job!</p>
                <p>If you have what it takes, what are you waiting for?</p>
                <form action="/Explore/Apply" method="POST">
                    <input type="hidden" value=@job.id name="job_id" />
                    <input type="hidden" value=@id name="applied_id" />
                    <button>Apply now</button>
                </form>
                <h3>By clicking the apply button, I agree to all the terms and conditions</h3>
            </div>
        </section>
    </div>
</main>

