
@{
    string host = HttpContext.Current.Request.Url.ToString();
}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <!-- Boxicon CSS  -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <!-- fontawesome css  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">

    <!-- page icon  -->
    <link rel="icon" type="image/png" sizes="32x32" href="./images/taka-bw.svg">

    <!-- custom stylesheet  -->
    <link rel="stylesheet" href="~/Content/styles.css">
    @{
        if (host.Contains("Team/Member"))
        {
            <link rel="stylesheet" href="~/Content/fullpage.min.css">
            <title>Team Page</title>
        }
        else if (host.Contains("User/SignIn"))
        {
            <title>Sign-in</title>
        }
        else if (host.Contains("User/SignUp"))
        {
            <title>Sign-up</title>
        }
        else if (host.Contains("Profile/Edit"))
        {
            <title>Edit Profile</title>
        }
        else if (host.Contains("Explore/JobDetails"))
        {
            <title>Product Details</title>
        }
        else if (host.Contains("Home/Index") || host.Contains("localhost"))
        {
            <link rel="stylesheet" href="~/Content/Card.css">
            <link rel="stylesheet" href="~/Content/home_style.css">
            <title>JobSeeker</title>
        }
    }
</head>
<body>
    @{
        if (!host.Contains("User/SignUp") && !host.Contains("User/SignIn"))
        {
            <style>
                .navbar-brand {
                    font-size: 40px !important;
                    padding: 0 8px !important;
                }
            </style>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark common-nav__bg sticky-top ">
                <div class="container-fluid">

                    <a class="navbar-brand" href="/Home/Index">
                        JS
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse navbar-margin-top" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item @(host.Contains("Home/Index") ? "active" : null )">
                                <a class="nav-link" aria-current="page" href="/Home/Index" style="color: @(host.Contains("Home/Index") ? "white" : null) ">Home</a>
                            </li>
                            <li class="nav-item @(host.Contains("Home/About") ? "active" : null )">
                                <a class="nav-link" href="/Home/About" style="color: @(host.Contains("Home/About") ? "white" : null) ">About Us</a>
                            </li>
                            <li class="nav-item @(host.Contains("Home/Contact") ? "active" : null )">
                                <a class="nav-link" href="/Home/Contact" style="color: @(host.Contains("Home/Contact") ? "white" : null) ">Contact Us</a>
                            </li>

                            <li class="nav-item @(host.Contains("Team/Member") ? "active" : null )">
                                <a class="nav-link" href="/Team/Member" style="color: @(host.Contains("Team/Member") ? "white" : null) ">Meet the Team</a>
                            </li>
                            <div class="horizontal-border nav-item"></div>
                            @{

                                if (JobSeekerWeb.CustomUtils.CustomSession.GetSession().get("mail") != null)
                                {
                                    <li class="nav-item @(host.Contains("Explore/Jobs") ? "active" : null )">
                                        <a class="nav-link" href="/Explore/Jobs" style="color: @(host.Contains("Explore/Jobs") ? "white" : null) ">Explore</a>
                                    </li>
                                    if (host.Contains("Dashboard/Overview"))
                                    {
                                        <li class="nav-item @(host.Contains("Dashboard/Overview") ? "active" : null )">
                                            <a class="nav-link" href="/Profile/Edit" style="color: @(host.Contains("Dashboard/Overview") ? "white" : null) ">Edit Profile</a>
                                        </li>

                                    }
                                    else
                                    {
                                        <li class="nav-item @(host.Contains("Profile/Edit") ? "active" : null )">
                                            <a class="nav-link" href="/Dashboard/Overview#dashboard__overview" style="color: @(host.Contains("Dashboard/Overview") ? "white" : null) ">Dashboard</a>
                                        </li>

                                    }

                                    <li class="nav-item sign-up">
                                        <a class="nav-link custom-link sign-up" href="/Destroy/Logout"> <i class="bx bx-log-out"></i> Log out</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item sign-in">
                                        <a class="nav-link custom-link" href="/User/SignIn"><i class="fas fa-lock"></i>Sign in</a>
                                    </li>
                                    <li class="nav-item sign-up">
                                        <a class="nav-link custom-link sign-up" href="/User/SignUp">Sign up<i class="fas fa-user"></i></a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        }
    }


    @RenderBody()

    @{
        if (host.Contains("/Team/Member"))
        {
            <script src="~/Scripts/fullpage.min.js"></script>

            <script type="text/javascript" src="~/Scripts/vanilla-tilt.js"></script>


        }
        else if (host.Contains("User/SignIn"))
        {
            /*
            <script type="text/javascript">
                            <? php
                            if ($success == 0 && !$isBanned) {
                        echo "var toastLiveExample = document.getElementById('liveToastError');
                        var toast = new bootstrap.Toast(toastLiveExample);
                        toast.show(); ";
                    } else if ($isBanned) {
                        echo "var toastLiveExample = document.getElementById('liveToastBan');
                        var toast = new bootstrap.Toast(toastLiveExample);
                        toast.show(); ";
                    }
                            ?>
            </script>*/
        }
        else if (host.Contains("User/SignUp"))
        {

            /*<script type="text/javascript">
                        <? php
                        if ($isChecked === 0) {
                        echo " var toastTrigger = document.getElementById('liveToastBtn');
                        var toastLiveExample = document.getElementById('liveToast');
                        var toast = new bootstrap.Toast(toastLiveExample);
                        toast.show(); ";
                    }
                        ?>
            </script>*/
        }
        else if (host.Contains("Explore/Jobs"))
        {
            /*<script type="text/javascript">
                        <? php
                        if ($cardCnt === 0) {
                        echo "var toastLiveExample = document.getElementById('liveToastNoCard');
                        var toast = new bootstrap.Toast(toastLiveExample);
                        toast.show(); ";
                    }
                    if ($isApplied === 1) {
                        echo "var toastLiveExample = document.getElementById('liveToastApplied');
                        var toast = new bootstrap.Toast(toastLiveExample);
                        toast.show(); ";
                    }
                        ?>
            </script>*/
        }
        else if (host.Contains("Explore/JobDetails"))
        {
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        }
        else if (host.Contains("Profile/Edit"))
        {

            /*<script type="text/javascript">
                                    <? php
                                    if ($isFailed) {
                        echo " var toastTrigger = document.getElementById('liveToastBtn');
                        var toastLiveExample = document.getElementById('liveToast');
                        var toast = new bootstrap.Toast(toastLiveExample);
                        toast.show(); ";
                    }
                                    ?>
            </script>*/
        }
    }
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
