@model JobSeekerWeb.Models.job 
<div class="card">
    <div class="banner">
        <h4>@Model.name</h4>
        <div class="d-flex justify-content-center gap-3">
            <img src="~/images/taka-bw.svg" alt="" width="20">
            <h5>@Model.salary</h5>
        </div>
    </div>
    <div class="card-body">
        <p>Duration</p>
        <p>@Model.duration.Subtract(DateTime.Today).Days Days</p> 
        <p>Revisions</p>
        <p>@Model.revisions</p>
        <p>Negotiable</p>
        <p>@(Model.negotiable == 1 ? "Yes" : "No")</p>
    </div>
    <div class="card-footer">
        <p>@Model.details</p>
    </div>
    <button onclick='location.href = "/Dashboard/JobApplications/@Model.id";'>
        See Applications
    </button>
</div>